useDynLib(stanli, .registration = TRUE)
export(stanli_install)
export(stanli_runtime_path)
export(stanli_available)
export(stanli_model)
export(stanli_exact_lp)
export(stanli_thread_safe)
export(sample_model)
export(optimize_model)
export(log_prob_grad)
export(as_draws_array)
export(stanli_diagnose)
S3method(print, stanli_model)
S3method(print, stanli_fit)
S3method(summary, stanli_fit)
S3method(as.array, stanli_fit)
